.nueva-cotizacion {
    border: solid 1px;
    border-radius: 5px;

}

.card--precio {
    padding: 25px;
}

.card--precio button{
   margin: 2px 5px 10px 15px;
}

.card--valor, .card--descripcion {
    text-align: center;
}
